MAIN_SHEET_URL=''
AR_SHEET_URL=''
REPORT_PRQ_SHEET_URL=''
COLLECTION_SHEET_URL=''

GOOGLE_SHEETS_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SHEETS_PRIVATE_KEY=
GOOGLE_SHEETS_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=

PRITI_DATA_SHEET_ID=
REPORT_PRQ_SHEET_ID=
VISEEPRO_SHEET_ID=

PC_ADMIN_USERNAME=
PC_ADMIN_PASSWORD=
PC_AR_USERNAME=
PC_AR_PASSWORD=